html, body{
  .center-portrait-image-container {
    border-bottom: 1px solid gray;
    padding-bottom: 2em;
    margin: 3em auto 1em;
    width: 16em;
  }
  .center-portrait-image{
    background-image: url('images/inhak_border_web.jpg');
    background-size: cover;
    height: 12em;
    margin: 0 auto;
    width: 12em;
  }
  .portrait-title {
    text-align: center;
    font-size: 2.3em;
    margin: .75em 0 .5em;
    h1 {
      margin: 0;
      margin-bottom: .5em;
    }
  }
  .portrait-blurb {
    text-align: center;
  }
}
