<div class="center-portrait-image-container">
  <div class="center-portrait-image"></div>
</div>
<div class="portrait-title">
  <h1>Inhak Kim<h1>
</div>
<div class="portrait-blurb">
  <p><i>Developer, Filmmaker, Neuroscientist</i></p>
</div>
{{outlet}}
